<div class="card bg-secondary text-white">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <label for="date">Date:
          <input type="date" class="form-control" id="date">
        </label>
      </div>
      <div class="col">
        <label for="patient">Patient Name :
          <input type="text" class="form-control" id="patient">
        </label>
      </div>
      <div class="col">
        <label for="doctor">Doctor Name :</label>
        <select class="form-control" id="doctor">
          <option>Doctor A</option>
          <option>Doctor B</option>
          <option>Doctor C</option>
          <option>Doctor D</option>
          <option>Doctor E</option>
        </select>
      </div>
      <div class="col">
        <label for="billType">Bill Type :</label>
        <select class="form-control" id="billType">
          <option>Cash</option>
          <option>Card</option>
          <option>Cheque</option>
          <option>PayTm</option>
          <option>Other</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-body bg-light text-dark">
    <h2>Bill Information</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product Name</th>
            <th>Batch Number</th>
            <th>Expiry Date</th>
            <th>Quantity</th>
            <th>SGST</th>
            <th>CGST</th>
            <th>GST</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>aspirin</td>
            <td>1-1-2019</td>
            <td>aspirin</td>
            <td>225</td>
            <td>1-1-2019</td>
            <td>aspirin</td>
            <td>225</td>
            <td>1-1-2019</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="addFieldValue()">Add</button>
            </td>
          </tr>
          <tr *ngFor="let field of fieldArray; let i = index">
            <td>
              <input class="form-control" type="text" name="{{i+1}}" value="{{i+1}}" />
            </td>
            <td>
              <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
            </td>
            <td>
              <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
            </td>
            <td>
              <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
            </td>
            <td>
              <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>GST %</td>
            <td>
              <input type="text" class="form-control input-sm" value="10" id="gst">
            </td>
            <td>Discount Rs.
            </td>
            <td>
              <input type="text" class="form-control input-sm" id="discount" value="0.00">
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>DL.No</td>
            <td>
              <input type="text" class="form-control input-sm" value="TG/25/2018" id="dlno">
            </td>
            <td>Total Rs.</td>
            <td>
              <input type="text" class="form-control input-sm" id="total" value="0.00">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button type="reset" class="btn btn-dark float-right btn-primary-spacing">Reset</button>
    <button type="submit" class="btn btn-success float-right btn-primary-spacing">Save Record</button>
    <button class="btn btn-warning float-right btn-primary-spacing  hidden-print" onclick="window.print('.card-body')">
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print Receipt</button>
  </div>